/* === ESTILOS GENERALES === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column; /* Apila header, contenido y footer verticalmente */
    justify-content: flex-start;
    align-items: center; /* Centra horizontalmente */
    background-color: #fff;
    overflow-x: hidden;
}
header {
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav-section{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo-icon {
    width: 30px; /* Ajusta el tamaño del icono */
    height: 30px;
}

.brand-name {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}
.page-title {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #c78eff;
}

/* === BOTÓN VOLVER === */
.back-button {
    background-color: #fff;
    color: #333;
    border: 2px solid #c78eff;
    padding: 0.6rem 1.2rem;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    position: fixed;
    top: 80px;
    left: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
    background-color: #c78eff;
    color: #fff;
    transform: scale(1.1);
}
/* === MAIN === */
.zona-sistemas {
    position: relative;
    display: flex;
    min-height: calc(100vh - 160px);
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 1.7rem;
    max-width: 1200px;
    animation: fadeIn 0.8s ease;
}

/* === BLOQUE DE MENSAJES === */
.bloque-mensajes {
    width: 300px;
    min-height: 100px;
    padding: 1.2rem;
    background-color: #1c1c1c;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.95rem;
    font-weight: 600;
    color: #c70039; /* Rojo chillón para errores */
}

#sistemaContenedor {
    background-color: #1c1c1c;
    border-radius: 12px;
    height:260px; /* Espacio inicial aunque no haya contenido */
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:100%;
}
.bloque-generador {
    background-color: #1c1c1c;
    color: #fff;
    padding: 1.2rem;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 450px;
    box-sizing: border-box;
}
.input-sistema {
    padding: 0.6rem;
    border-radius: 8px;
    background-color: #222;
    border: 1px solid #c78eff;
    color: #fff;
    width: 58px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.input-sistema:focus{
    outline: none; 
    border-color: #8a2be2; 
    box-shadow: 0 0 8px rgba(138, 43, 226, 0.5); 
    background-color: #111; 
    transform: scale(1.02);
}
.input-sistema::placeholder {
    color: #c78eff; 
    opacity: 0.7; 
}
.fila-sistema {
    justify-content: center;
    animation: aparecer 0.3s ease;
    gap: 8px;
}
.fila-input-generador {
    display: flex;
    gap: 10px;
    width: 100%;
}

.fila-input-generador input {
    flex: 1;
    padding: 0.6rem;
    font-size: 1rem;
    border: 1px solid #c78eff;
    border-radius: 8px;
    background-color: #2a2a2a;
    color: white;
    
}

.fila-input-generador input::placeholder {
    color: #aaa;
}
/* === Se sacan las flechas === */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* === Boton generar === */
.btn-generar {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 2px solid #c78eff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-generar:hover {
    background-color: #c78eff;
    color: #000;
}
/* === Selector y Boton === */
.fila-metodo-boton {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
    width: 100%;
    margin: 1rem auto 0;
    padding: 0.2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in-out;
}
.campo {
    display: flex;
    flex-direction: column;
    color: #c78eff;
    text-shadow: 0 1px 2px #000;
}
.campo label {
    flex: 1;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    
}
#metodo {
    flex:1;
    text-align: center;
    padding: 0.6rem;
    border-radius: 12px;
    border: 2px solid #c78eff;
    background-color: #2a2a2a;
    outline: none;
    transition: all 0.3s ease;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
select#metodo:focus {
    border-color: #8a2be2;
    box-shadow: 0 0 0px rgba(138, 43, 226, 0.5);
}
select#metodo option {
    background-color: #1c1c1c;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#Mensaje_calcular{
    background-color: #1c1c1c;
    margin-bottom: 5px;
    height:0px; 
    color: white;
    display: flex;
    flex-direction: column;
    width:100%;
    text-align: center;
}
/* Botón Calcular Raíces */
.btn-raices {
    flex-shrink: 0;
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #c78eff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: auto;
    text-align: center;
}

.btn-raices:hover {
    background-color: #a259e4;
    transform: scale(1.05);
}
#flechita {
    position: absolute;
    top: 50%;
    left: calc(50% + 5rem);
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color:#B700FF;
    display: none;
    pointer-events: none;
    z-index: 100;
    animation: rebote 0.8s ease infinite;

}
.barra-carga {
    width: 100%;
    height: 12px;
    background-color: #2a2a2a;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.6);
}

.barra-carga-interna {
    width: 0%;
    height: 100%;
    background-color: #7bffab;
    animation: progresoAnimado 1.3s ease-out forwards;
    border-radius: 10px;
}


/* === FOOTER === */
footer {
    width: 100%;
    margin-top: auto; /* Lo empuja hacia abajo */
    background-color: #222;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin-top: auto;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap; /* En caso de que los elementos no quepan en una sola línea */
}

/* === ANIMACIÓN SUAVE === */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes rebote {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -52%) scale(1.1);
    }
}

@keyframes progresoAnimado {
    0% { width: 0%; }
    50% { width: 60%; }
    100% { width: 100%; }
}
.fade-out {
    animation: fadeOutMain 0.5s ease forwards;
}

@keyframes fadeOutMain {
    to {
        opacity: 0;
        transform: scale(0.95);
    }
}
/* === MEDIA QUERIES === */
@media screen and (max-width: 987px) {

    header {
        padding: 0.5rem 0;
    }
    .nav {
        padding: 0 1rem;
    }
    .nav-section {
        flex-direction: row;
        align-items: center;
    }
    .logo-icon {
        width: 25px; /* Ajusta el tamaño del icono */
        height: 25px;
    }
    .menu {
        flex-direction: column;
        gap: 0.8rem;
    }
    .logo {
        margin-bottom: 1rem;
    }
    .brand-name {
        font-size: 1rem;
    }
    .nav-logo{
        display: none;
    }
    .page-title {
        font-size: 1rem;
    }
    .nav-link {
        font-size: 0.9rem;
    }
    .zona-sistemas {
        flex-direction: column;
        align-items: center;
        gap: 2rem; /* menos espacio entre bloques */
    }
    .bloque-generador {
        width: 100%;
        max-width: 95vw;
        margin: 0 auto;
        padding: 1rem;
    }

    #flechita {
        display: none !important; /* Oculta la flecha en pantallas pequeñas */
    }
    .fila-metodo-boton {
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
    }
    .input-sistema {
        width: 42px !important;         /* antes 58px */
        font-size: 0.8rem !important;   /* para achicar el texto */
        padding: 0.4rem !important;     /* menos padding */
    }
    
    .fila-input-generador input {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
    
    #metodo {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
    
    .btn-generar,
    .btn-raices {
        font-size: 0.9rem;
        padding: 0.6rem 1rem;
    }
    footer{
        width: 100%;
    }
    .footer-content {
        flex-direction: column;
        gap: 0.5rem;
    }
}