* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: #fff;
    position: relative;
    overflow-x: hidden;
}
header {
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav-section{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo-icon {
    width: 30px; 
    height: 30px;
}

.brand-name {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}
.page-title {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #c78eff;
}

.main-contenido {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 2rem; 
    margin-top: 2rem; 
    text-align: center; 
    color: #000000; 
}

/* Título secundario */
h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Tabla estilizada */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);  
    border-radius: 8px;  
    background-color: #fff;  
}

/* Encabezado */
thead {
    background-color: #c78eff;  
    color: #fff; 
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid#ddd;  
    font-size: 1rem;
}
tbody tr {
    background-color: #f7f7f7; 
    transition: background-color 0.3s ease;
}
tbody tr {
    transition: background-color 0.3s ease;  
}
td {
    border-bottom: 2px solid #ddd;  
}
table {
    border: 2px solid #ddd; 
}

footer {
    width: 100%;
    margin-top: auto; 
    background-color: #222;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap; 
}

  /* Animación */
@keyframes subirDesdeAbajo {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.fade-out {
    animation: fadeOutMain 0.5s ease forwards;
}

@keyframes fadeOutMain {
    to {
        opacity: 0;
        transform: scale(0.95);
    }
}