<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='Image/icono-logo.svg') }}" type="image/svg+xml">
    <title>Raices BetaSolve</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ecuaciones.css') }}"/>
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-section nav-logo">
                <img src="{{ url_for('static', filename='Image/icono-logo.svg') }}" alt="Ícono de BetaSolve" class="logo-icon">
                <span class="brand-name">BetaSolve</span>
            </div>
            <div class="nav-section nav-title">
                <img src="{{ url_for('static', filename='Image/dydx-icono.svg') }}" alt="Ícono ecuaciones diferenciales" class="logo-icon">
                <h1 class="page-title">Ecuaciones diferenciales</h1>
            </div>
            <div class="nav-section nav-home">
                <img src="{{ url_for('static', filename='Image/home.svg') }}" alt="Ícono de Home" class="logo-icon">
                <a href="/" class="nav-link volver-btn">Volver al Inicio</a>
            </div>
        </nav>
    </header>
    <main class="main-contenido">
        <div class="contenedor-flex">
            <div class="bloque-inputs">

                <div class="campo">
                    <label>Ingrese el valor de y'. y'(x)=f(x,y)</label>
                    <input type="text" id="displayFuncion" class="display-funcion" placeholder="Ej. 2x + sen (y)">
                </div>

                <div class="campo">
                    <label>Ingrese el valor inicial de X (X0):</label>
                    <input type="text" id="displaypunto" class="display-puntox" placeholder="Ej. 10">
                </div>

                <div class="campo">
                    <label>Ingrese el valor inicial de Y (Y0):</label>
                    <input type="text" id="displaypunto" class="display-puntoy" placeholder="Ej. 2">
                </div>

                 <div class="campo">
                    <label>Ingrese el valor final de X (Xn):</label>
                    <input type="text" id="displayfinal" class="display-final" placeholder="Ej. 20">
                </div>

                <div class="campo">
                    <label>Seleccione el método:</label>
                    <select id="metodoRK" class="select-metodo">
                        <option value="rk1">Runge Kutta Orden 1</option>
                        <option value="rk4">Runge Kutta Orden 4</option>
                    </select>
                </div>

                <div class="bloque-inputs">
                    <label>Seleccione el modo:</label>
                    <select id="modo">
                    <option value="">-- Seleccione --</option>
                    <option value="h">Definir el tamaño del paso (h)</option>
                    <option value="n">Definir la cantidad de pasos (n)</option>
                </select>
            </div>
            <div class="campo" id="campoH" style="display: none;">
                <label for="valorH">Ingrese el valor de h:</label>
                <input type="text" id="valorH" placeholder= "Valor de h" />
            </div>
            <div class="campo" id="campoN" style="display: none;">
                 <label>Ingrese el valor de n:</label>
                 <input type="text" id="valorN" placeholder="Valor de n" />
                </div>
            <button class="btn-calcular" id="btnCalcular">CALCULAR</button>
            </div>
            <div class="calculadora">
                
                <div class="titulo">BetaSolve</div> 
                <div class="pantalla"></div>
                
                <div class="buttons-header">
                    <div class="row-header">
                        <button class="btn-header">sen</button>
                        <button class="btn-header">cos</button>
                        <button class="btn-header">tan</button>
                        <button class="btn-header">e</button>
                        <button class="btn-header">In</button>
                        <button class="btn-header">^</button>
                    </div>
                    <div class="row-header">
                        <button class="btn-header">asen</button>
                        <button class="btn-header">acos</button>
                        <button class="btn-header">atan</button>
                        <button class="btn-header">(</button>
                        <button class="btn-header">)</button>
                        <button class="btn-header">√</button>
                    </div>
                    <div class="row-header">
                        <button class="btn-header">X</button>
                        <button class="btn-header">Y</button>
                        <button class="btn-header">π</button>
                        <button class="btn-especial">Del</button>
                        <button class="btn-especial">C</button>
                    </div>
                </div>
        
                <div class="buttons-math">
                    <div class="row-math">
                        <button class="btn-math">7</button>
                        <button class="btn-math">8</button>
                        <button class="btn-math">9</button>
                        <button class="btn-math">*</button>
                    </div>
                    <div class="row-math">
                        <button class="btn-math">4</button>
                        <button class="btn-math">5</button>
                        <button class="btn-math">6</button>
                        <button class="btn-math">/</button>
                    </div>
                    <div class="row-math">
                        <button class="btn-math">1</button>
                        <button class="btn-math">2</button>
                        <button class="btn-math">3</button>
                        <button class="btn-math">+</button>
                    </div>
                    <div class="row-math">
                        <button class="btn-math">.</button>
                        <button class="btn-math">0</button>
                        <button class="btn-math">-</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
    <div class="footer-content">
        <p>Horacio Sutara · Aquiles Cancinos · Tomás Mollinedo · María Del Mar Pellicer · <strong>BetaSolve · 2025</strong></p>
    </div>
    </footer>
    <script src="{{ url_for('static', filename='js/ecuaciones.js') }}"></script>
</body>
</html>