<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/soluciones_raices.css') }}">
    <title>Solucion</title>
</head>
<body>
    <header>
        <nav class="nav">
            <!-- Logo principal -->
            <div class="nav-section nav-logo">
                <img src="{{ url_for('static', filename='Image/icono-logo.svg') }}" alt="Ícono de BetaSolve" class="logo-icon">
                <span class="brand-name">BetaSolve</span>
            </div>
    
            <!-- Título de la calculadora -->
            <div class="nav-section nav-title">
                <img src="{{ url_for('static', filename='Image/calculadora-icono.svg') }}" alt="Ícono de calculadora" class="logo-icon">
                <h1 class="page-title">Solución de raíces</h1>
            </div>
    
            <!-- Enlace de regreso al inicio -->
            <div class="nav-section nav-home">
                <img src="{{ url_for('static', filename='Image/home.svg') }}" alt="Ícono de Home" class="logo-icon">
                <a href="/" class="nav-link">Volver al Inicio</a>
            </div>
        </nav>
    </header>
    
    <h1>No se pudo reconocer la Función</h1>
    
    </footer>
</body>
</html>