<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='Image/icono-logo.svg') }}" type="image/svg+xml">
    <title>Raices BetaSolve</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/raices.css') }}"/>
</head>
<body>
    <header>
        <nav class="nav">
            <!-- Logo principal -->
            <div class="nav-section nav-logo">
                <img src="{{ url_for('static', filename='Image/icono-logo.svg') }}" alt="Ícono de BetaSolve" class="logo-icon">
                <span class="brand-name">BetaSolve</span>
            </div>
    
            <!-- Título de la calculadora -->
            <div class="nav-section nav-title">
                <img src="{{ url_for('static', filename='Image/funcion-icono.svg') }}" alt="Ícono de calculadora" class="logo-icon">
                <h1 class="page-title">Busqueda de Raices</h1>
            </div>
    
            <!-- Enlace de regreso al inicio -->
            <div class="nav-section nav-home">
                <img src="{{ url_for('static', filename='Image/home.svg') }}" alt="Ícono de Home" class="logo-icon">
                <a href="/" class="nav-link volver-btn">Volver al Inicio</a>
            </div>
        </nav>
    </header>
    <!-- Espacio de bloques izquierdo -->
    <div class="contenedor-flex">
        <div class="bloque-inputs">
            <div class="campo">
                <label>Ingrese la función:</label>
                <input type="text" id="displayFuncion" class="display-funcion" placeholder="Ej. x^2 + 2x">
            </div>
            <div class="campo">
                <label>Ingrese el intervalo (opcional):</label>
                <input type="text" id="displayIntervalo" class="display-intervalo" placeholder="Ej. -10, 10">
            </div>
            <button class="btn-calcular" id="btnCalcularRaices">CALCULAR RAÍCES</button>
        </div>
        <!-- CALCULADORA -->
        <div class="calculadora">
            <!-- Título BetaSolve en la esquina superior derecha -->
            <div class="titulo">BetaSolve</div> 
    
            <!-- Pantalla donde se muestra la operación -->
            <div class="pantalla"></div>
    
            <!-- FILAS DE BOTONES -->
            <div class="buttons-header">
                <div class="row-header">
                    <button class="btn-header">sen</button>
                    <button class="btn-header">cos</button>
                    <button class="btn-header">tan</button>
                    <button class="btn-header">exp</button>
                    <button class="btn-header">In</button>
                    <button class="btn-header">^</button>
                </div>
                <div class="row-header">
                    <button class="btn-header">asen</button>
                    <button class="btn-header">acos</button>
                    <button class="btn-header">atan</button>
                    <button class="btn-header">(</button>
                    <button class="btn-header">)</button>
                    <button class="btn-header">√</button>
                </div>
                <div class="row-header">
                    <button class="btn-header">X</button>
                    <button class="btn-header">;</button>
                    <button class="btn-especial">Del</button>
                    <button class="btn-especial">C</button>
                </div>
            </div>
    
            <div class="buttons-math">
                <div class="row-math">
                    <button class="btn-math">7</button>
                    <button class="btn-math">8</button>
                    <button class="btn-math">9</button>
                    <button class="btn-math">*</button>
                </div>
                <div class="row-math">
                    <button class="btn-math">4</button>
                    <button class="btn-math">5</button>
                    <button class="btn-math">6</button>
                    <button class="btn-math">/</button>
                </div>
                <div class="row-math">
                    <button class="btn-math">1</button>
                    <button class="btn-math">2</button>
                    <button class="btn-math">3</button>
                    <button class="btn-math">+</button>
                </div>
                <div class="row-math">
                    <button class="btn-math">.</button>
                    <button class="btn-math">0</button>
                    <button class="btn-math">-</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
    <div class="footer-content">
        <p>Horacio Sutara ·Aquiles Cancinos .</p>
        <p>Tomás Mollinedo ·María Del Mar Pellicer·</p>
        <p><strong>BetaSolve · 2025</strong> </p>
    </div>
    </footer>
    <script src="{{ url_for('static', filename='js/raices.js') }}"></script>
</body>
</html>