<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='Image/icono-logo.svg') }}" type="image/svg+xml">
    <title>Sistemas Betasolve</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sistemas.css') }}" />
</head>
<body>
    <header>
        <nav class="nav">
            <!-- Logo principal -->
            <div class="nav-section nav-logo">
                <img src="{{ url_for('static', filename='Image/icono-logo.svg') }}" alt="Ícono de BetaSolve" class="logo-icon">
                <span class="brand-name">BetaSolve</span>
            </div>
    
            <!-- Título de la calculadora -->
            <div class="nav-section nav-title">
                <img src="{{ url_for('static', filename='Image/matriz-icono.svg') }}" alt="Ícono de calculadora" class="logo-icon">
                <h1 class="page-title">Sistema de Ecuaciones</h1>
            </div>
    
            <!-- Enlace de regreso al inicio -->
            <div class="nav-section nav-home">
                <img src="{{ url_for('static', filename='Image/home.svg') }}" alt="Ícono de Home" class="logo-icon">
                <a href="/" class="nav-link">Volver al Inicio</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="zona-sistemas">
            <!-- Bloque de generación del sistema -->
            <div class="bloque-generador">
                <div class="fila-input-generador">
                    <input type="number" id="cantidadEcuaciones" min="2" max="5" placeholder="2, 3, 4 o 5" class="input-sistema">
                    <button class="btn-generar" onclick="generarSistema()">Generar sistema</button> 
                </div>
                <!-- Se crea las matrices -->
                <div id="sistemaContenedor"></div>
                <!-- Fila de botones -->
                <div class="fila-metodo-boton">
                    <div class="campo">
                        <label for="metodo">Seleccionar método</label>
                        <select id="metodo">
                            <option value="gauss">Gauss</option>
                            <option value="gauss-jordan">Gauss-Jordan</option>
                            <option value="jacobi">Jacobi</option>
                            <option value="seidel">Gauss-Seidel</option>
                        </select>
                    </div>
                    <button class="btn-raices">Calcular Raíces</button>
                </div>
            </div>

            <div id="flechita" class="flechita"> →</div>
            
            <!-- Bloque derecho: mensajes -->
            <div class="bloque-mensajes">
                <div class="aviso" id="Mensaje_calcular"></div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <p>Horacio Sutara · Aquiles Cancinos · Tomás Mollinedo · María Del Mar Pellicer · </p>
            <p><strong>BetaSolve · 2025</strong> </p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/sistemas.js') }}"></script>
</body>

</html>