<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/solucion_sistema.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Image/icono-logo.svg') }}" type="image/svg+xml">
    <title>Solucion Betasolve</title>
</head>
<body>
    <header>
        <nav class="nav">
            <!-- Logo principal -->
            <div class="nav-section nav-logo">
                <img src="{{ url_for('static', filename='Image/icono-logo.svg') }}" alt="Ícono de BetaSolve" class="logo-icon">
                <span class="brand-name">BetaSolve</span>
            </div>
    
            <!-- Título de la calculadora -->
            <div class="nav-section nav-title">
                <img src="{{ url_for('static', filename='Image/matriz-icono.svg') }}" alt="Ícono de calculadora" class="logo-icon">
                <h1 class="page-title">Solucion del Sistema</h1>
            </div>
    
            <!-- Enlace de regreso al inicio -->
            <div class="nav-section nav-home">
                <img src="{{ url_for('static', filename='Image/home.svg') }}" alt="Ícono de Home" class="logo-icon">
                <a href="/" class="nav-link">Volver al Inicio</a>
            </div>
        </nav>
    </header>
    <main class="contenido">
        <section class="cuadro-matrices">
            <h2 class="matrices-titulo">Procedimiento</h2>
            <div id="intro-paso" class="intro-text"></div>
            <div class="matrices-grid" id="Procedimiento">
                <!-- Aca se crea todas las matrices --> 
            </div>  
        </section>
            
        </div>
        <section class="cuadro-soluciones">
            <h2>Soluciones</h2>
            <ul id="lista-soluciones">
            </ul>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <p>Horacio Sutara · Aquiles Cancinos · Tomás Mollinedo · María Del Mar Pellicer · </p>
            <p><strong>BetaSolve · 2025</strong> </p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/solucion_sistema.js') }}"></script>
    <script id="datos" type="application/json">
        {{ {
            "resultado": session.get('resultado', []),
            "iteraciones": session.get('iteraciones', 0),
            "historial": session.get('historial', []),
            "funciono": session.get('funciono', False),
            "metodo": session.get('metodo', '')
        } | tojson }}
    </script>
</body>
</html>

