<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='Image/icono-logo.svg') }}" type="image/svg+xml">
    <title>Raices BetaSolve</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/solucion-ecuacion.css') }}"/>
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-section nav-logo">
                <img src="{{ url_for('static', filename='Image/icono-logo.svg') }}" alt="Ícono de BetaSolve" class="logo-icon">
                <span class="brand-name">BetaSolve</span>
            </div>
            <div class="nav-section nav-title">
                <img src="{{ url_for('static', filename='Image/dydx-icono.svg') }}" alt="Ícono ecuaciones diferenciales" class="logo-icon">
                <h1 class="page-title">Ecuaciones diferenciales</h1>
            </div>
            <div class="nav-section nav-home">
                <img src="{{ url_for('static', filename='Image/home.svg') }}" alt="Ícono de Home" class="logo-icon">
                <a href="/" class="nav-link volver-btn">Volver al Inicio</a>
            </div>
        </nav>
    </header>

    
    <h1>Eucación diferencial: </h1>

    <h2><strong>y' = {{ funcion_original }}</strong></h2>

    <div id="grafico" style="width: 100%; height: 600px;"></div>

    <!-- Datos en elementos ocultos para que el JS los lea -->
    <script type="application/json" id="x-data">{{ x_vals | tojson }}</script>
    <script type="application/json" id="y-data">{{ y_vals | tojson }}</script>


    <h2>Método utilizado: {{ metodo }}</h2>
    <h2>Tamaño del paso h = {{ h }}</h2>
    <h2>Tabla de resultados</h2>
    <table>
        <thead>

            <tr>
                <th>i</th>
                <th>x<sub>i</sub></th>
                <th>y<sub>i</sub></th>
            </tr>
        </thead>
        <tbody>
            {% for fila in tabla %}
            <tr>
                <td>{{ fila.i }}</td>
                <td>{{ fila.x }}</td>
                <td>{{ fila.y }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <footer>
        <div class="footer-content">
            <p>Horacio Sutara · Aquiles Cancinos · Tomás Mollinedo · María Del Mar Pellicer · <strong>BetaSolve · 2025</strong></p>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/solucion_edo.js') }}"></script>
</body>
</html>
