<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="soluciones_raices.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="nav">
            <!-- Logo principal -->
            <div class="nav-section nav-logo">
                <img src="../img/icono-logo.svg" alt="Ícono de BetaSolve" class="logo-icon">
                <span class="brand-name">BetaSolve</span>
            </div>
    
            <!-- Título de la calculadora -->
            <div class="nav-section nav-title">
                <img src="../img/calculadora-icono.svg" alt="Ícono de calculadora" class="logo-icon">
                <h1 class="page-title">Solucion del Sistema</h1>
            </div>
    
            <!-- Enlace de regreso al inicio -->
            <div class="nav-section nav-home">
                <img src="../img/home.svg" alt="Ícono de Home" class="logo-icon">
                <a href="../Main_sobrenosotros/main.html" class="nav-link">Volver al Inicio</a>
            </div>
        </nav>
    </header>
    <footer>
        <div class="footer-content">
            <p>Horacio Sutara · Aquiles Cansinos · Tomás Mollinedo · María Del Mar Pellicer · </p>
            <p><strong>BetaSolve · 2025</strong> </p>
        </div>
    </footer>
</body>
</html>